html, body{
    width: 150%;
    margin: 0px;
    padding:0px;
    overflow-x: hidden;
    
}




.main-header{
    position: relative;
    background-color: #000;
    color: #fff;
    width: 45%;
    height: 65px;
}

.netflix-logo {
    fill: #e50914;
    width: 100px;
    position: absolute;
    left: 13%;
    top: 15px;
  }


.help{
    display: inline;
    position: relative;
    left: 300px;
    top: 5px;
    font-family: "Roboto", sans-serif;
  

}
.help:hover{
    text-decoration: underline;
    
}
.line{
    display: inline;
    position: relative;
    top: 10px;
    left: 290px;
    height: 30px;
    font-size: 30px;
    font-weight: lighter;
    
}
.bt1{
position: relative;
left: 900px;
bottom: 20px;
background-color: #000;
color: #fff;
padding: 10px 15px;
border-radius: 5px;
font-size: x-small;
border-color: #fff;
font-family: "Roboto", sans-serif;
}

.bt1:hover{
    background-color: #fff;
    color: #000;
}

.bt2{
position: relative;
left: 920px;
bottom: 20px;
background-color: #e50914;
color: #fff;
padding: 10px 15px;
border: none;
width: 100px;
height: 35px;
border-radius: 4px;
font-size: x-small;
font-family: "Roboto", sans-serif;
}


.ar{
    position: relative;
    left: 180px;
    top: 20px;
    color: #e50914;
    font-family: "Roboto", sans-serif;
}
.ba{
    display: inline;
    position: relative;
    top: -15px;
    left: 195px;
    color: #e50914;
    font-family: "Roboto", sans-serif;
    width: max-content;

}
.ba:hover{
    text-decoration: underline;
}
.co{
    position: relative;
    left: 195px;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    font-family: "Roboto", sans-serif;
}
.net{
    position: relative;
    left: 195px;
    font-size: 25px;
    font-weight: 700;
    color: #1f1e1d;
    line-height: 48px;
    font-family: "Roboto", sans-serif;
}
.contact{
    position: relative;
    left: 195px;
    bottom: 25px ;
    color :#1f1e1d;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
}
.do{
    position: relative;
    left: 195px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color:  #1f1e1d;
}
.badge1{
    position: relative;
    left: 195px;
}
.badge2{
    position: relative;
    left: 360px;
    bottom: 50px;
    
  
}
.que{
    position: relative;
    left: 195px;
    bottom: 41px;
}
.le{
    display: inline;
    position: relative;
    left: 270px;
    bottom: 75px;
    color: #e50914;
    font-family: "Roboto", sans-serif;
}
.le:hover{
text-decoration: underline;
}
.hr1{
    position: relative;
right: 1015px;
    bottom: 70px;
    width: 20%;
    font-weight: bolder;
}
.call{
    position: relative;
    left: 195px;
    bottom: 60px;
    font-weight: bold;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
}
.ph{
    position: absolute;
    left: 195px;
    bottom: -50px;
    font-weight: bold;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}
.callus{
    position: absolute;
    left: 195px;
    bottom: -90px;
    color: #4c4948;
    font-family: "Roboto", sans-serif;
}
.callbt{
    position: relative;
    left: 195px;
    bottom: -30px;
    height: 50px;
    color:#615e5d;
    font-weight: bolder;
    border-color:rgb(209, 205, 205);
    border-radius: 4px;
    background-color: white;
    font-family: "Roboto", sans-serif;
    padding: 10px 15px 10px;
    border-width: thin;

    
   
}
.callbt:hover{
    background-color: #f2f0ef;
}
.hr2{
    position: relative;
        bottom: -50px;
    right: 1015px;
   
    width: 20%;
    
}
.livechat{
    position: absolute;
    left: 195px;
    top: 850px;
    font-weight: bold;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
}
.you{
    position: absolute;
    left: 195px;
    top: 900px;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
}
.livechatbt{
    position: absolute;
    left: 195px;
    width: 200px;
    height: 60px;
    top: 955px;
    color:#615e5d;
    font-weight: bolder;
    border-color:rgb(209, 205, 205);
    border-radius: 4px;
    background-color: white;
    font-family: "Roboto", sans-serif;
    padding: 10px 15px 10px;
    border-width: thin;
}
.livechatbt:hover{
    background-color: #f2f0ef;
}
.pop{
    position: relative;
    left: 920px;
    font-size: 16px;
    font-weight: 700;
    color: #1d1b1a;
    line-height: 48px;
    font-family: "Roboto", sans-serif;
    bottom: 570px;
}
.olu{
    position: relative;
    left: 900px;
    font-size: 16px;
    font-weight: 500;
    color: #1d1b1a;
    line-height: 36px;
    font-family: "Roboto", sans-serif;
    bottom: 585px;
}
li:hover{
    color: #e50914;
    text-decoration: underline;
}
.find{
    position: relative;
    left: 900px;
    font-size: 17px;
    font-weight: 700;
    color: #1a1919;
    bottom: 538px;
    font-family: "Roboto", sans-serif;
}
.input1{
    position: relative;
    left: 900px;
    bottom: 535px;
    border-color: rgb(209, 205, 205);
    width: 10%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    border-width: thin;
    
}
input::content{
    border-width: thin;
}
.global-footer{
    position: absolute;
    top: 1200px;
    width: 100%;
    height: 300px;
    font-size: 14px;
    font-weight: 400;
    
    background: #221f1f;
}
.selectd{
    color: #8b8a88;
    position: absolute;
    left: 195px;
    text-transform: uppercase;
    border-color: rgb(209, 205, 205);
    width: 45%;
    
  
    font-family: "Roboto", sans-serif;
    
}
select{
    height: 55px;
    width: 230px;
    border-width: thin;
    border-radius: 4px;
    background-color: #221f1f;
    color: #8a8787;
    padding: 20px 10px 15px;
    margin: 40px 0 40px 0;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: large;
    font-family: "Roboto", sans-serif;
}
select:hover{
    background-color: #e6e4e3;
}
.lastone{
    
    position: relative;
    left: 900px;
}

.p1,
.p2,
.p3,
.p4{
    color: #8a8787;
    top: 30px;
    font-family: "Roboto", sans-serif;
}

.p1{
    position: absolute;
    left: -200px;
    
}

.p1:hover{
    color: #dcdada;
    text-decoration: underline;
}

.p2{
    position: absolute;
    left: -100px;
}

.p2:hover{
    color: #dcdada;
    text-decoration: underline;
}

.p3{
    position: absolute;
    left: -10px;
}
.p3:hover{
    color: #dcdada;
    text-decoration: underline;
}

.p4{
    position: absolute;
    left: 150px;
}
.p4:hover {
    color: #dcdada;
    text-decoration: underline;
}